@model SecuringSynoptic.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<h2>Hide Data</h2>
<form asp-action="EncryptImages" enctype="multipart/form-data">

    <label asp-for="ImageUrl" class="control-label">Upload Image</label>
    <input type="file" name="file" class="form-control" />
    <span name="file" class="text-danger"></span>
    <hr />
    <input asp-for="Text" placeholder="Text to encode within the image" />
    <hr />
    <input asp-for="Checked", type="checkbox" /><p>Encrypted</p>
    <h5>Password: </h5>
    <input type="password" asp-for="Password" />
    <hr />
    <input type="submit" value="Hide" />
</form>
<br />

<h2>Extract Data</h2>
<form asp-action="DecryptImages" enctype="multipart/form-data">

    <label asp-for="ImageUrl" class="control-label">Upload Image</label>
    <input type="file" name="file" class="form-control" />
    <span name="file" class="text-danger"></span>
    <hr />
    <hr />
    <input asp-for="Checked" , type="checkbox" /><p>Is text Encrypted?</p>
    <h5>Password: </h5>
    <input type="password" asp-for="Password" />
    <hr />

    <input type="submit" value="Extract" />


</form>

<div>
    <p>@ViewData["text"]</p>
</div>


