@model SecuringSynoptic.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<h2>Hide Data</h2>
<form asp-action="EncryptImages" enctype="multipart/form-data">
    <div class="text-center">
        <label asp-for="ImageUrl" class="control-label">Upload Image</label>
        <input type="file" name="file" class="form-control" />
        <span name="file" class="badge-pill"></span>
        <p>Enter text to encode within the image</p>
        <input asp-for="Text" placeholder="Text to encode within the image" />
        <hr />
        <input asp-for="Checked" , type="checkbox" /><p>Do you wish to encrypt the text?</p>
        <h6>Password: </h6>
        <input type="password" asp-for="Password" />
        <hr />
        <input type="submit" class="btn btn-info" value="Hide" />
    </div>
</form>
<br />

<h2>Extract Data</h2>
<form asp-action="DecryptImages" enctype="multipart/form-data">
    <div class="text-center"
    <label asp-for="ImageUrl" class="control-label">Upload Image</label>
    <input type="file" name="file" class="form-control" />
    <hr />
    <span name="file" class="text-danger"></span>
    <input asp-for="Checked" , type="checkbox" /><p>Is the text Encrypted?</p>
    <h6>Password: </h6>
    <input type="password" asp-for="Password" />
    <hr />

    <input type="submit" class="btn btn-info" value="Extract" />

    </div>
</form>

<div>
    <p>@ViewData["text"]</p>
</div>


